<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;
background-color: rgb(255, 136, 0)">

    <h1>
        {{title}}
      </h1>
      <img width=10% alt="REDUX Analogue Black Dial Men's " 
      src="https://images-na.ssl-images-amazon.com/images/I/417sOcnj8cL.__AC_SY400_.jpg" 
      >
      <img width=10% alt="image" src="src/app/Dhadak.jpg">
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <a class="active" routerLink="/home"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a routerLink="#"><i class="fa fa-fw fa-search"></i> Search</a> 
  <a routerLink="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
  <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
 <router-outlet></router-outlet>
</div>



<p>This example could use the original src attribute, but with AngularJS code inside the value, it is better to use the ng-src attribute instead.</p>


     


 
